body{
   /* background: #ebe8de; */
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    padding-top: 60px;
    -webkit-font-smoothing: antialiased;
}
.container{
    width: auto;
    max-width: 900px;    
    margin:0 auto;
}
.left{
    float: left;
}
.right{
    float: reight;
}
.logo {
    display: block;
    float: left;
}
.nyt-holder{
    width:100%;
}
section.body{
    width: auto;
    max-width: 900px;;
    margin:0 auto;
}
.priceRow div{
    //display: inline;
}
.actions{
    top: 0px;
}
#headerLoader{
    margin-top: 10px;
}