
.error {
    color: #f00;
}
.hidden{
    display: none;
}
.cleared{
    clear: both;
}
.bold{
    font-weight: bold;
}
.fa{
    font-size: 1.5em
}
span.noTrans{
    background-color: #f00;
    color: #fff;
}
h2 {
    font-weight: bold;
    margin-top:10px;
}
h4 {
    font-weight: bold;
}
.loadingBar{
    text-align: center;
    font-size: 2em;
    color: #114533;
    border: 1px solid #114533;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

btn:hover{
    color: red;
}
.btn{
    color: #fff;   
    background-color: #114533;
    width: auto;
    padding: 7px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
}


